<?xml version="1.0"?>
<launch>


  <!-- navigation -->
  <include file="$(find sb_carto_navigation)/launch/navigation.launch">
    <arg name="open_rviz" value="true"/>
  </include>

  <!-- detection -->
  <node pkg="sb_ep_detect_and_grasp" name="marker_detection" type="sb_detect_cube.py" output="screen"/>

  <!-- grasp -->
  <node pkg="sb_ep_detect_and_grasp" name="grasp_server" type="sb_grasp_cube_server.py" output="screen"/>

  <!-- place -->
  <node pkg="sb_ep_detect_and_grasp" name="place_server" type="sb_place_cube_server.py" output="screen"/>

  <!-- brain -->
  <node pkg="sb_brain" name="fuckoff" type="sb_procedure.py" output="screen"/>

</launch>